In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=18a51f57103f7365d036cc6dad22b976b21e37a87a99b1acd3f7ef1a820b5362
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('students').getOrCreate()

In [3]:
students=spark.sparkContext.textFile('Students.txt')

In [4]:
students.collect()

['Akash MSIS ME M',
 'Anvit MSIS ME F',
 'Sohan MSIS ME M',
 'Sujana MSIS ME F',
 'Avanti MSIS ME F',
 'Ananya MSIS ME F',
 'Anujna MIT MTech F',
 'Abhinava MIT MTech M']

In [6]:
#Compute number of students from each Institute.

students.map(lambda d:(d.split(' ')[1],1)).reduceByKey(lambda a,b:a+b).collect()

[('MSIS', 6), ('MIT', 2)]

In [7]:
#Number of students enrolled to any program.

students.map(lambda d:(d.split(' ')[2],1)).reduceByKey(lambda a,b:a+b).collect()

[('ME', 6), ('MTech', 2)]

In [9]:
#Number of ‘boy’ and ‘girl’ students.

students.map(lambda d:(d.split(' ')[3],1)).reduceByKey(lambda a,b:a+b).collect()

[('M', 3), ('F', 5)]

In [10]:
#Number of ‘boy’ and ‘girl’ students from a selected institution

students.filter(lambda d:(d.split(' ')[1]=="MSIS")).map(lambda d:(d.split(' ')[3],1)).reduceByKey(lambda a,b:a+b).collect()

[('M', 2), ('F', 4)]